/* You can add global styles to this file, and also import other style files */

body {
  min-height: 100vh;
  margin: 0;
  color: black;
  background: #03a9f4;
  font-family: "Calibri", Times, serif;
  font-size: 14px;
}
